<gv_framework_config number_property="6" >
<module_path_xml type="gv_text" >
<![CDATA[../../../mmo_rts/data/module_xml/]]></module_path_xml>
<module_path_gvb type="gv_text" >
<![CDATA[../../../mmo_rts/data/module_gvb/]]></module_path_gvb>
<physics_asset_root_path type="gv_text" >
<![CDATA[]]></physics_asset_root_path>
<texture_cache_path type="gv_text" >
<![CDATA[../../../mmo_rts/data/textures/]]></texture_cache_path>
<driver_list type="gvt_array{ gv_string }" >
<array array_size="4" >
  "dummy"
  "d3d9"
  "impexp"
  "mmo_lib"
</array>
</driver_list>
  
<window_size type="gv_vector2i" >
    <gv_vector2i number_property="2" >
      <x type="gv_int" value="1280"	/>
      <y type="gv_int" value="720"	/>
    </gv_vector2i>
</window_size>  
  
</gv_framework_config>
